.auth {

}

.login-form {
    background-color: #B9F6CA;
    padding-bottom: 16px;
}

.navigation {
    width: 210px;
}

a :hover {

}

.new_dream {
    background-color: #B9F6CA;
}

.register {
    text-align: center;
}

.dream name{}

.dream:hover{
    background-color: #B9A6CA
}
		
.realised {
    height: 60px;
}
	